.box-cont { 
  margin: 1px;
  height: 540px;
  /* max-height: 400px; */
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 6px 6px 7px black;  
}
.background {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter:  blur(0px);
  /* filter: blur(3px);  */
}
.titulo {
  position: absolute;
  font-family: "Lato";  
  font-size: 34px;
  color: white;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  width: 190px;
}
@media (width < 496px){
  .box-cont {
  height: 440px; 
  width: 135px;  
  }
  .titulo {    
    font-size: 25px;  
    width: 135px;  
  }
}