.box{
  color: white;
  border: solid;
  border-radius: 8px;
  border-color: var(--navBlue);
  padding: 8px;
  font-family: Domine;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  min-width: 118px;
  justify-content: center;
  margin-right: 20px;
}

