.footer{   
    height: 58px;
    width: 100%;    
    background-color: var(--navBlue); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerMobile {
    height: 58px;
    width: 100%;    
    background-color: var(--navBlue); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__text {
  margin-top: 10px;
  font-size: 1.1vw;
}
.footer__text--mobile {
  font-size: 16px;
}
footer a{
 color: rgb(233, 205, 49);
}
@media (max-width: 1050px)
        {
            .footer{
              display: none;
            }
        }
        /* DESDE */
@media (min-width: 1051px){
          .footerMobile{
            display: none;
          }

        }
