footer{
    text-align: center;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background-color: var(--navBlue);
    color: white;
    margin-top: 20px;

}
footer a{
 color: rgb(233, 205, 49);
}
@media (max-width: 1050px)
        {
            .footer{
              display: none;
            }
        }
        /* DESDE */
@media (min-width: 1051px){
          .footerMobile{
            display: none;
          }

        }
