.navbar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--navBlue);
  height: 56px;
}
.navbarlogo{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}
.navbarlogo a{
font-size: 22px;
font-family: Domine;
text-decoration: none;
margin: 17px;
color: var(--white);
}
.search{
  margin: 9px;
  width: 400px;
}
.search input{

    border-radius: 8px 0  0 8px;
    background-color: var(--bodyBlue);
    height: 30px;
    border: solid;
    border-color: var(--navBlue);
    width: 71%;
    color: var(--white)
}
.search button{
  border-radius: 0 8px 8px 0;
  background-color: var(--bodyBlue);
  height: 38px;
  width: 20%;
  border: solid;
  border-color: var(--navBlue);
  color: gray;
  cursor: pointer;
}
.navbar-menu ul{
  list-style: none;
  margin: 20px 20px 0 0;
  align-items: center;
  display: flex;
  padding-left: 0;
}
.navbar-menu a{
  color: white;
  text-decoration: none;
  margin: 0 30px 0 0;
  font-family: Domine;
  font-size: 14px;
}


