<div class="navbar">
  <div class="navbarlogo">
  <!-- <img src="./../../../assets/img/free-movie-icon-850-thumb.png" alt=""> -->
  <a class="nombre" href="#home">Angular Cool Movies</a>
  </div>

  <form id="searchForm" class="search">
      <input type="text" placeholder="Series y Peliculas" />
      <button id="searchbtn" class="srchbtn">Buscar</button>
  </form>
      <div class="navbar-menu">
          <ul>
            <li>
                <a href="#home">Inicio</a>
            </li>
            <li>
                <a href="#trends">Peliculas</a>
            </li>
            <li>
                <a href="#trendiseries">Series</a>
            </li>
            <li>
                  <a href="#home">Generos</a>
            </li>
            <li>
                  <a href="#home">Contacto</a>
            </li>
          </ul>
      </div>
    </div>
