<div class="navbar">
  <div class="navbarlogo">

  <a class="nombre" href="/home">meistter Movies</a>
  </div>

  <form id="searchForm" class="search">
      <input type="text" placeholder="Series y Peliculas" />
      <button id="searchbtn" class="srchbtn">Buscar</button>
  </form>
      <div class="navbar-menu">
          <ul>
            <li>
                <a href="#home">Inicio</a>
            </li>
            <li>
                <a href="/movies">Peliculas</a>
            </li>
            <li>
                <a href="/series">Series</a>
            </li>
            <li>
                  <a>Generos</a>
            </li>
            <li>
                  <a>Contacto</a>
            </li>
          </ul>
      </div>
    </div>
