<div class="navbar">
  <div class="navbarlogo">

  <a class="nombre" routerLink="home">meistter Movies</a>
  </div>

  <div #searchForm class="search">
      <input #busqueda value="" type="text" placeholder="Series y Peliculas" />
      <button id="searchbtn" class="srchbtn" (click)="searchQuery(busqueda.value)">Buscar</button>
      <!-- Aqui estamos enviando el texto de busqueda al TS para ser enviado como query param -->
    </div>
      <div class="navbar-menu">
          <ul>
            <li>
                <a routerLink="home">Inicio</a>
            </li>
            <li>
                <a routerLink="movies">Peliculas</a>
            </li>
            <li>
                <a routerLink="series">Series</a>
            </li>
            <li>
                  <a>Generos</a>
            </li>
            <li>
                  <a>Contacto</a>
            </li>
          </ul>
      </div>
    </div>
