.categoriesContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  justify-content: space-between;
  margin: 20px;
  /* margin-top: 30px; */
}
.space{
  margin-top: 40px;
}
