.serie-container{
  /* position: absolute; */
  /* /* margin-left: 20px; */
  /* top: 500  px; */
  margin-right: 10px;
  margin-bottom: 30px;
}
.serie-container img{
  width: 150px;
  height: 220px;
  border-radius: 8px;
  /* cursor: pointer; */
}
.serie-like-btn::before{
  content: '🤍';
}
.serie-like-btn--liked::before{
  content: '💖';
}
.serie-like-btn{
  border-radius: 20px;
  border-color: white;
  cursor: pointer;

  }

