.serie-container{
  /* position: absolute; */
  /* /* margin-left: 20px; */
  /* top: 500  px; */
  margin-right: 10px;
  margin-bottom: 30px;
}
.serie-container img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.serie-like-btn::before{
  content: '🤍';
}
.serie-like-btn--liked::before{
  content: '💖';
}
.serie-like-btn{
  background-color: var(--navBlue);
  margin-right: 30px;
  border-radius: 30px;
  border-color: white;
  cursor: pointer;
  width: 50px;
  height: 30px;

  }

