<div class="superContainer">
<div class="serie-container">
  <a [routerLink]="['/serie',serie.id]">
  <!--? Skeleton loading -->
<!-- le decimos que el id sea = -1 solo porq sabemos que cuando ese sea el id es porq esta leyendo el valor por defecto que le estamos entregando y porq sabemos que un id nunca sera -1 -->
<ngx-skeleton-loader *ngIf="serie.id == -1" [theme]="{
  'background-color': '#ced1d5',
  width: '155px',
  height: '225px'
  }"
  count="1"
  appearance="line"
  animation="progress-dark"
  ></ngx-skeleton-loader>

<img *ngIf="serie.id !== -1"
class="img"
src={{imgUrl}}{{serie.poster_path}}

/>
  </a>
  <button [ngClass]="corazon == true ? 'serie-like-btn--liked' : 'serie-like-btn'"  class="serie-like-btn" (click)="saveOrDeleteFromLS()"></button>
</div>
</div>
