.nav{
  display: flex;
  justify-content: space-between;
}
.sideMenuContainer{
  display: grid;
  grid-template-columns: 230px auto

}
.one{
  background-color: whitesmoke

}


/* HASTA */
@media (max-width: 920px)
        {
            .sidenav-container {
              display: none;
            }
            .sideMenuContainer{
              display: none;
            }
        }
        /* DESDE */
@media (min-width: 921px){
          .sidenavMobile-container{
            display: none;
          }

        }

/* .sidenavMobile-container{
display: none;
} */
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav{
  background-color: var(--navBlue);
  color: white;
}
.organize{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.organize2{
  display: flex;
  align-items: center;
}
