.main-movies-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
  font-family: Domine;
  color: white;

}
.favoritos-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  margin: 25px;
}
.movie-container img{
  width: 240px !important;
  height: 340px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: red !important;
  cursor: default !important;


}

@media (max-width: 1295px){
  .favoritos-container{
    grid-template-columns: auto auto auto auto !important;
  }
}
@media (max-width: 1040px){
  .favoritos-container{
    grid-template-columns: auto auto auto !important;
  }
}
@media (max-width: 800px){
  .favoritos-container{
    grid-template-columns: auto auto !important;
  }
}
@media (max-width: 600px){
  .favoritos-container{
    grid-template-columns: auto !important;
  }
  .movie-container img{
    width: 100% !important;
    height: 100% !important;
  }
}
