.main-movies-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 30px;
  font-family: Domine;
  font-size: 22px;
  color: white;

}
.favoritos-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  /* display: flex;
  flex-wrap: wrap; */
  align-items: center;
  /* justify-content: center; */
  margin: 25px;
  width: 240px !important;
  height: auto;
}
.movie-container img{
  width: 260px !important;
  height: 360px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-color: red !important;
  cursor: default !important;


}

@media (max-width: 1295px){
  .favoritos-container{
    grid-template-columns: auto auto auto auto !important;
  }
}
@media (max-width: 1040px){
  .favoritos-container{
    grid-template-columns: auto auto auto !important;
  }
}
@media (max-width: 800px){
  .favoritos-container{
    grid-template-columns: auto auto !important;
  }
}
@media (max-width: 600px){
  .favoritos-container{
    grid-template-columns: auto !important;
  }
  .movie-container img{
    width: 100% !important;
    height: 100% !important;
  }
}
