.categoriesContainer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  justify-content: space-between;
  margin: 20px;
  /* margin-top: 30px; */
}
.space{
  margin-top: 40px;
}




@media (max-width: 1305px){
    .categoriesContainer{
      display: grid;
    grid-template-columns: auto auto auto auto auto auto auto !important;
   }
 }
 @media (max-width: 1050px){
  .categoriesContainer{
    display: grid;
  grid-template-columns: auto auto auto auto auto  !important;
 }
}
@media (max-width: 785px){
  .categoriesContainer{
    grid-template-columns: auto auto auto auto !important;
  }
}
@media (max-width: 600px){
  .categoriesContainer{
    grid-template-columns: 1fr !important;

  }
}

