<mat-toolbar class="navbar">
  <div class="navbarlogo">
  <a routerLink="home" style="margin: 0;"><img class="logo" src="https://i.ibb.co/XfPB72k/OIG-fotor-bg-remover-20230516163126.png" alt=""></a>
  <a class="nombre" routerLink="home">meistter</a>
  </div>  
  <form class="searchForm" (submit)="searchQuery($event)">
      <input class="searchBox" [formControl]="searchField" placeholder="   Buscar..." />
      <button id="searchbtn" class="srchbtn" type="submit"><span class="material-symbols-outlined">search</span></button>
      <!-- Aqui estamos enviando el texto de busqueda al TS para ser enviado como query param -->
  </form>
  <div class="navbar-menu">
          <ul>
            <li>
                <a routerLink="home">Inicio</a>
            </li>
            <li>
                <a routerLink="movies">Peliculas</a>
            </li>
            <li>
                <a routerLink="series">Series</a>
            </li>
            <li>
                <a routerLink="/auth/login">Iniciar Sesión</a>
            </li>
          </ul>
  </div>
</mat-toolbar>

<mat-toolbar class="navbarMobile">
  <button type="button" style="color:white; text-shadow: 1px 1px 3px black;" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="navbarMobilelogo">
  <a routerLink="home" style="margin: 0;"> <img class="logo" src="https://i.ibb.co/XfPB72k/OIG-fotor-bg-remover-20230516163126.png" alt=""></a>
  <a class="nombre" routerLink="home">meistter</a>
  </div>
  <div></div>
</mat-toolbar>

<mat-sidenav-container class="sidenavMobile-container">
<mat-sidenav #drawer class="sidenav" fixedInViewport>
    <div style="display: flex; align-items: center; justify-content: space-between;">
    <mat-toolbar> Menu</mat-toolbar>
    <mat-icon style="margin-right: 15px;" type="button" (click)="drawer.toggle()">arrow_back</mat-icon>
    </div>
    <mat-nav-list style="display: flex; align-items: center; flex-direction: column">
      <form class="mobileSearchForm" (submit)="searchQuery($event)">
        <input class="mobileSearchBox" [formControl]="searchField"  placeholder="" />
        <button (click)="drawer.toggle()" id="searchbtn" class="srchbtn--mobile" type="submit"><span class="material-symbols-outlined">search</span></button>
        <!-- <button (click)="drawer.toggle()" id="searchbtn" class="srchbtn" type="submit"></button> -->
      </form>
      <a mat-list-item routerLink="home" (click)="drawer.toggle()"><mat-icon>store</mat-icon> Inicio</a>
      <a mat-list-item routerLink="movies" (click)="drawer.toggle()"><mat-icon>category</mat-icon> Peliculas</a>
      <a mat-list-item routerLink="series" (click)="drawer.toggle()"><mat-icon>category</mat-icon> Series</a>
      <a mat-list-item routerLink="/auth/login" (click)="drawer.toggle()"> <mat-icon>login</mat-icon> Iniciar Sesión</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>    

  </mat-sidenav-content>

</mat-sidenav-container>
