<div class="navbar">
  <div class="navbarlogo">

  <a class="nombre" routerLink="home">meistter Movies</a>
  </div>
<!-- !A partir de ahora usaremos formularios de angular Forms -->
  <div #searchForm class="search">
      <input #busqueda [formControl]="searchField" type="search" placeholder="Series y Peliculas" />

      <button id="searchbtn" class="srchbtn" (click)="searchQuery()">Buscar</button>
      <!-- Aqui estamos enviando el texto de busqueda al TS para ser enviado como query param -->
    </div>
      <div class="navbar-menu">
          <ul>
            <li>
                <a routerLink="home">Inicio</a>
            </li>
            <li>
                <a routerLink="movies">Peliculas</a>
            </li>
            <li>
                <a routerLink="series">Series</a>
            </li>
            <li>
              <a>Contacto</a>
            </li>
            <li>
              <a routerLink="/auth/login">Administrador</a>
            </li>
          </ul>
      </div>
    </div>
