.headerContainer{
  background-size: cover !important;
  /* height: 180px; */
  position: absolute;
  filter: blur(7px);
  z-index: -1;
  top: 0px;
  width:100%;
  /* margin-top: 9px; */
  background-image:  background="{{imgurl}}{{pelicula.poster_path}}";
}
.headerContainer img{
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.header{
  z-index: 0;
  position: relative ;
  height: 480px;
  top: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header img{
  border-radius: 12px;
}

.contenido{
  max-width: 800px;
  padding: 30px;
  width: 100%;
}
.contenidoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.votos{
  text-align: right;
  margin-top: 0;
  font-family: Domine;
  font-size: 15px;

}
.titulo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  margin-top: 140px;
}
.titulo p:nth-child(1){
  font-family: Domine;
  font-size: 35px;
}
.titulo p:nth-child(2){
  font-family: Domine;
  font-size: 20px;
}
.titulo p:nth-child(2)::before{
  content: "⭐"
}
.descripcion{
  text-align: justify;
  font-size: 20px;
  font-family: Domine;
}
.fecha{
  font-size: 20px;
  margin-top: 60px;
}
.contenedor{
  width: 100%;
  padding: 20px;
  margin-bottom: 05px;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;

}
.categorias{
  display: flex;
  align-items: center;
  justify-content: center;

}
.generos{
  text-align: center;
  font-size: 30px;
  font-family: Domine;
  margin-top: 80px;
}
.relacionadas{
  text-align: center;
  font-size: 30px;
  font-family: Domine;
  margin-top: 20px;
}
@media (max-width: 1200px){
  .contenedor{
    grid-template-columns: auto auto auto auto auto auto!important;
  }
}
@media (max-width: 1000px){
  .contenedor{
    grid-template-columns: auto auto auto auto auto !important;
  }
}
@media (max-width: 800px){
  .contenedor{
    grid-template-columns: auto auto auto auto !important;
  }
}

@media (max-width: 600px){
  .contenedor{
    grid-template-columns: auto auto !important;
  }
  .categorias{
    display: block;
  }
}
