<div class="header" >
  <img src="{{imgurl}}{{pelicula.poster_path}}" alt="">
</div>

<div class="headerContainer">
  <img  src="{{imgurl}}{{pelicula.backdrop_path}}" alt="">
</div>

<div class="contenidoContainer">
  <div class="contenido">
    <div class="titulo-movie">
      <p style="margin-right: 10px;">{{pelicula.title}}</p>
      <p>{{pelicula.vote_average}}</p>
      
    </div>
    <div class="votos">
      <p>Votos: {{pelicula.vote_count}}</p>
    </div>
    <div class="fecha">
      <p>Fecha de Estreno: {{pelicula.release_date}}</p>
    </div>
    <div class="descripcion">
      <p>{{pelicula.overview}}</p>
    </div>
   
          <div class="generos">
            <p>Generos de {{pelicula.title}}</p>
          </div>
          <div class="categorias">
          <app-categoria style="padding: 15px;" [categoria]="categoria" *ngFor="let categoria of generos" ></app-categoria>
        
    </div>
  </div>
</div>

<div *ngIf="peliculas[0].id != -1">
<p class="relacionadas">Peliculas Relacionadas</p>

<div class="contenedor">
  <app-pelicula class="sombra" [movie]="movie" *ngFor="let movie of peliculas"></app-pelicula>
</div>
</div>


