.mainContainer{

  margin: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.title{
  margin: 30px;
}

@media (max-width: 1300px){
  .mainContainer{
    grid-template-columns: auto auto auto auto !important;
  }
}
@media (max-width: 1060px){
  .mainContainer{
    grid-template-columns: auto auto auto !important;
  }
}
@media (max-width: 860px){
  .mainContainer{
    grid-template-columns: auto auto !important;
  }
}
@media (max-width: 600px){
  .mainContainer{
    grid-template-columns: auto !important;
  }
}
