.movie-container{
  margin-right: 10px;
  margin-bottom: 30px;
  position: relative;
}
.movie-container img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
}
.movie-like-btn{
  position: absolute;
  top: 5px;
  right: -28px;
  background-color: var(--navBlue);
  margin-right: 30px;
  border-radius: 30px;
  border-color: white;
  cursor: pointer;
  width: 50px;
  height: 30px;
}
.movie-like-btn::before{
  content: '🤍';
}
.movie-like-btn--liked::before{
  content: '💖';
}

