.movie-container{

  margin-right: 10px;
  margin-bottom: 30px;
}
.movie-container img{
  width: 150px;
  height: 220px;
  border-radius: 8px;
  cursor: pointer;
}
.movie-like-btn{

  border-radius: 20px;
  width: 50px;
  border-color: rgb(133, 32, 32);
  cursor: pointer;
}
.movie-like-btn::before{
  content: '🤍';
}
.movie-like-btn--liked::before{
  content: '💖';

}

