.home-container {   
    padding-bottom: 48px;   
    /* height: 100%;  */
}
.header-background {   
    /* max-height: 500px; */
    width: 100%;
    object-fit: cover;
    filter: blur(3px);
    height: 100vh;
}
