.home-container {   
    padding-bottom: 48px;   
    /* height: 100%;  */
   
}
.header-background {   
    /* max-height: 500px; */
    width: 100%;
    object-fit: cover;
    /* filter: blur(3px); */
    height: 100vh;
}
.header-cont {
    position: relative;
}
.watch-now {
    position: absolute;
    /* z-index: 2; */
    left: 60%;
    top: 45%;
    background-color: transparent;
    font-size: 20px;
    font-family: "Lato";
    border-radius: 26px;
    color: white;
    height: 55px;
    width: 120px;
    border-style: solid;
    border-color: white;
    box-shadow: 2px 2px 4px black;
    text-shadow: 2px 2px 4px black;
}
.movie-title {
    position: absolute;
    /* z-index: 2; */
    left: 60%;
    top: 52%;
    font-size: 5vw;
    /* font-size: 87px; */
    font-family: "Lato";
    text-shadow: 2px 2px 4px black;
    width: auto;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
}
.popular {
    position: absolute;
    /* z-index: 2; */
    left: 5%;
    bottom: 1%;
    font-size: 4.5vw;
    /* font-size: 72px; */
    font-family: "Lato";
    text-shadow: 2px 2px 4px black;
    max-width: 300px;
    margin: 0;
}