.home-container {   
    padding-bottom: 48px;   
   /* position: relative; */
}
.header-background {   
    width: 100%;
    object-fit: cover;
    /* filter: blur(3px); */
    height: 100vh;
}
.header-cont {
    position: relative;
}
.watch-now {
    position: absolute;
    left: 54%;
    top: 45%;
    background-color: transparent;   
    border-radius: 28px;    
    border-width: 1px;
    border-style: solid;
    border-color: white;
    box-shadow: 1px 1px 4px black;
    
    width: auto;
    height: auto;
    
}
.watch-now--text {
    padding: 22px;
    color: white;    
    text-decoration: none;
    font-size: 32px;
    font-family: "Lato";   
    text-shadow: 2px 2px 4px black;
    
}
.movie-title {
    position: absolute;
    left: 54%;
    top: 50%;
    font-size: 6vw;
    font-family: "Lato";
    text-shadow: 2px 2px 4px black;
    width: auto;
    max-width: 800px;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
}
.popular {
    position: absolute;
    left: 5%;
    bottom: 1%;
    font-size: 6vw;
    width: 100%;
    font-family: "Lato";
    text-shadow: 2px 2px 4px black;
    max-width: 300px;
    margin: 0;
}
@media (width < 1200px){
    .watch-now--text {        
        font-size: 26px;        
    }
}
@media (width < 900px){
    .movie-title {
        top: 50% !important;
    }
    .watch-now--text {        
        font-size: 24px;        
    }
 }
@media (width < 700px){
    .watch-now--text {        
        font-size: 22px;        
    }
} 
@media (width < 700px){
    .watch-now--text {        
        font-size: 20px;        
    }
}
 
 @media (width <= 375px){
    
    .watch-now--text {        
        font-size: 16px;        
    }.popular {            
        font-size: 24px !important;            
    }
 }
 @media (width < 320px){
    .watch-now--text {        
        font-size: 14px;        
    }
}