<div #contenedor>
      <div #contenedorPeliculas>
            <div class="main-movies-header">
              <h3 class="main-movies-title">Top Peliculas Trending del Mes</h3>
              <button type="button" class="btn" onclick="window.location.href='/movies'">Ver más</button>
            </div>

            <article class="main-moviesList">
                  <!-- Aqui agregamos las peliculas dinámicamente -->

            <app-pelicula [movie]="movie" *ngFor="let movie of peliculas" ></app-pelicula>

            </article>
            </div>

            <div #contenedorSeries>
              <div class="main-movies-header">
                <h3 class="main-movies-title">Top Series Trending del Mes</h3>
                <button type="button" class="btn" onclick="window.location.href='/series'" >Ver más</button>
              </div>


              <article class="main-moviesList">
              <app-serie [serie]="serie" *ngFor="let serie of series"></app-serie>
              </article>

        </div>
</div>
