.main-movies-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
  font-family: Domine;
  color: white;
  /* margin-top: 20px; */

}
.main-movies-header button{
  margin-right: 80px;

}
.main-movies-header{
  margin-top: 50px;
}
.main-moviesList{
  display: flex;
  align-items: center;
  margin: 30px;
  justify-content: space-between;
}
.main-movies-btn{
  cursor: pointer;
}
.btn{
  border-color: white;
  color: white;
}
