.main-movies-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
  font-family: Domine;
  color: white;

}
.main-movies-header button{
  margin-right: 80px;
}
.main-moviesList{
  display: flex;
  align-items: center;
  margin: 30px;
  justify-content: space-between;
}
.main-movies-btn{
  cursor: pointer;
  border-color: white !important;
}
body{  background-color: var(#01111e) !important;}
