<div class="contenedor">
  <div class="contenedorPeliculasySeries">
    <!-- <div class="main-movies-header">
      <h2 class="main-movies-title">Top Peliculas Trending del Mes</h2>      
    </div> -->
    
      
    <button  class="main-movies-btn" routerLink="/movies">Peliculas +</button>
    
    <article class="main-moviesList">
      <!-- Aqui agregamos las peliculas dinámicamente -->
      <app-pelicula [movie]="movie" *ngFor="let movie of peliculas"></app-pelicula>
    </article>
  </div>
  <div class="contenedorPeliculasySeries">
    <!-- <div class="main-movies-header">
      <h2 class="main-movies-title">Top Series Trending del Mes</h2>
      <button mat-stroked-button color="white" class="main-movies-btn" routerLink="/series">Ver más</button>
    </div> -->
    <button class="main-movies-btn" routerLink="/series">Series +</button> 
    <article class="main-moviesList">
      <app-serie [serie]="serie" *ngFor="let serie of series"></app-serie>
    </article>
  </div>
</div>

<div class="contenedorMobile">
  <div class="contenedorPeliculas">   
    <button  class="main-movies-btn" routerLink="/movies">+ Peliculas</button>
    <article class="main-moviesListMobile">
      <!-- Aqui agregamos las peliculas dinámicamente -->
      <app-pelicula [movie]="movie" *ngFor="let movie of peliculas"></app-pelicula>
    </article>
   
  </div>
  <div class="contenedorSeries">   
    <button class="main-movies-btn" routerLink="/series">+ Series</button> 
    <article class="main-moviesListMobile">
      <app-serie [serie]="serie" *ngFor="let serie of series"></app-serie>
    </article>
    <button class="main-movies-btn category-btn">+ Categorias</button>
  </div>
  
</div>
