.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav{
  background-color: var(--navBlue);
  color: white;
}
.inicio{
  margin-left: 15px;
  cursor: pointer;
}
.titles{
  display: flex;
  align-items: center;

}
.menu{
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
