<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content>
    <mat-toolbar class="nav">
      <div class="titles">
        <mat-icon class="inicio" routerLink="/">arrow_back</mat-icon>
        <span class="inicio" routerLink="/">Meistter Moviesㅤ</span>
        <span> |ㅤAdministrator Panel</span>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-sidenav-container class="sidenavMobile-container">

  <mat-sidenav-content>
    <mat-toolbar class="nav">
      <div class="titlesMobile">
        <mat-icon class="inicio" routerLink="/">arrow_back</mat-icon>
        <span>Administrator Panel</span>
        <div></div>
      </div>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


