.headerContainer{
  background-size: cover !important;
  height: 580px;
  position: absolute;
  filter: blur(7px);
  z-index: 1;
  top: 50px;
  width:100%;
  margin-top: 8px;
}
.header{
  z-index: 2;
  position: relative ;
  height: 580px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header img{
  border-radius: 12px;
}

.contenido{
  width: 800px;
}
.contenidoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.votos{
  text-align: right;
  margin-top: 0;
  font-family: Domine;
  font-size: 15px;

}
.titulo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  margin-top: 40px;
}
.titulo p:nth-child(1){
  font-family: Domine;
  font-size: 35px;
}
.titulo p:nth-child(2){
  font-family: Domine;
  font-size: 20px;
}
.titulo p:nth-child(2)::before{
  content: "⭐"
}
.descripcion{
  text-align: justify;
  font-size: 20px;
  font-family: Domine;
}
.fecha{
  font-size: 20px;
  margin-top: 60px;
}
.container{
  height: 250px;
  width: 98%;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categorias{
  margin-bottom: 80px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.generos{
  text-align: center;
  font-size: 30px;
  font-family: Domine;
  margin-top: 80px;
}

