@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
/* You can add global styles to this file, and also import other style files */

:root {
  --navBlue: #0f1524;
  --white: rgb(255, 255, 255);
  --black: black;
  --bodyBlue: #01111e;
  --border: rgb(42, 45, 51);
}
body{
  margin: 0;
  background-color: var(--bodyBlue);
  overflow-x: hidden;
  color: white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
