.headerContainer{
  background-size: cover !important;
  height: 580px;
  position: fixed;
  filter: blur(7px);
  z-index: 1;
  top: 50px;
  width:100%;
  margin-top: 7px;
}
.header{
  z-index: 2;
  position: relative ;
  height: 580px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.header img{
  border-radius: 12px;
}
.headerback{
  background-size: cover !important;
  height: 580px;
  /* position: fixed; */
  filter: blur(8px);
  z-index: 1;
  top: 50px;
  width:100%;
}
